DB_URL=jdbc:postgresql://postgres:5432/cloud-storage-db
DB_NAME=cloud-storage-db
DB_USERNAME=your_username
DB_PASSWORD=your_password
MINIO_ACCESS_KEY=your_access_key
MINIO_SECRET_KEY=your_secret_key
MINIO_BUCKET_NAME=your_bucket_name
REDIS_HOST=redis
REDIS_PORT=6379